<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Main Page</title>

</head>

<body>

    <h1><strong>TerpXChange: UMD's #1 textbook marketplace!</strong></h1>
    <h2><strong>Sell your textbook</strong></h2>
    <div>
        <ul>
            <li> List your <a href=/Application>textbook!</a>
            </li>
        </ul>
        <hr>
    </div>
    <h2><strong>Buy a textbook</strong></h2>
    <div>
        <ul>
            <li> <a href=/Search>Search</a> for a textbook!
            </li>
        </ul>
        <hr>
    </div>
    <h2><strong>ReadMe</strong></h2>
    <div>
        <ul>
            <li> <a href=/Readme>Click here to view ReadMe</a>
            </li>
        </ul>
        <hr>
    </div>

</body>

</html>
