<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>

    <h1>TerpXChange: UMD's #1 textbook marketplace!</h1>

    <h2>Sell your textbook</h2>
    <ul>
        <li> List your <a href="/registrationForm">textbook!</a></li>
    </ul>
    <hr>

    <h2>Buy a textbook</h2>
    <ul>
        <li> <a href="/search">Search</a> for a textbook!</li>
    </ul>
    <hr>

    <h2>ReadMe</h2>
    <ul>
        <li> <a href=/Readme>Click here to view ReadMe</a></li>
    </ul>
    <hr>


</body>
</html>