<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <style>
        li {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>


    <h1>Available Textbook on Our Shelf</h1>

    <%- bookOnShelf %>

    <h1>Also Available on Amazon</h1>

    <%- amazonItem %>



    <hr>
    <a href="/">HOME</a>


</body>

</html>
