<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Search</title>

    <style>
        fieldset {
            margin-bottom: 20px;
        }

        button {
            margin: 0px;
        }
    </style>
</head>

<body>

    <h1>Search for Textbook!</h1>
    
    <form>
        <fieldset>
            <label> <strong> Textbook Name: </strong> <input type=text name="textbook_name" /> </label>
        </fieldset>

        <button type="submit">Submit Request</button>

        <hr>
    </form>

    <a href="/">HOME</a>

</body>

</html>
